---
layout: layouts/base
---

<div class="home-page">
  <div class="container">
    <div class="welcome">
      <div class="welcome-text">
        <h1>oi! sou o Gabriel Toschi!</h1>
        <h2>game designer, redator, web dev</h2>

        <div class="social-icons">
          <div class="social-list">
            {% for social in socials %}
              <a target="_blank" href={{ social.link }}>{% svg social.icon %}</a>
            {% endfor %}
          </div>
          <span>escolha um pra entrar em contato comigo!</span>
        </div>
      </div>

      {% render "components/image-card.liquid"
       , image: "/img/about.jpg"
       , text: "Mais sobre mim"
       , url: "/pt/sobre" %}
    </div>

    <div class="home-buttons">
      {% for homeButton in home-buttons-pt %}
        <a href="{{ homeButton.link }}">{{ homeButton.name }}</a>
      {% endfor %}
    </div>

    <div class="latest-blog">
      <div class="header">
        <h1>
          <a href="/pt/blog">últimas do blog</a>
        </h1>
        <h3>artigos e críticas fresquinhas!
          <a href="/pt/blog">clique aqui para ver todos os posts</a>
        </h3>
      </div>

      {% assign home-posts = collections.blogpt | reverse | first_nth: 2 %}

      <div class="post-list">
        {% for post in home-posts %}
          <div class="card-wrapper {{ post.data.tags | join: " " }}">
            {% assign filteredTags = post.data.tags
             | remove_intersec: not-show-tags.blog
             | map_key_value: blog-tags-pt %}

            {% render "components/full-card.liquid"
             , samePage: true
             , image: post.data.thumbnail
             , title: post.data.title
             , url: post.data.permalink
             , text: post.data.description
             , score: post.data.score
             , tags: filteredTags %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

