---
layout: layouts/base
lang: pt
---

<div class="container showcase">
  <iframe
    src="https://omny.fm/shows/scicast/desenvolvimento-de-jogos-digitais-scicast-312/embed"
    width="100%"
    height="180"
    allow="autoplay; clipboard-write"
    frameborder="0"
    title="Desenvolvimento de Jogos Digitais (SciCast #312)"></iframe>

  <iframe
    src="https://omny.fm/shows/scicast/estrutura-de-dados-scicast-391/embed"
    width="100%"
    height="180"
    allow="autoplay; clipboard-write"
    frameborder="0"
    title="Estrutura de Dados (SciCast #391)"></iframe>

  <iframe
    src="https://omny.fm/shows/scicast/banco-de-dados-scicast-347/embed"
    width="100%"
    height="180"
    allow="autoplay; clipboard-write"
    frameborder="0"
    title="Banco de dados (SciCast #347)"></iframe>

  <iframe
    src="https://omny.fm/shows/scicast/letreco-e-os-jogos-de-palavras-scicast-473/embed"
    width="100%"
    height="180"
    allow="autoplay; clipboard-write"
    frameborder="0"
    title="Letreco e os Jogos de Palavras (SciCast #473)"></iframe>

  <iframe
    src="https://omny.fm/shows/contrafactual/e-se-existisse-a-arma-de-portal-contrafactual-169/embed"
    width="100%"
    height="180"
    allow="autoplay; clipboard-write"
    frameborder="0"
    title="E se existisse a arma de Portal? (Contrafactual #169)"></iframe>
</div>