$background: #fafafa;
$text: #30292f;

$blue-dark: #7654f0;
$blue-light: #4795f0;

$purple-light: #b43df0;
$purple-dark: #552bab;
$purple-gray: #d5c0f0;
$purple-white: #f9f2ff;
$purple-brown: #44364d;

$orange: #f07b56;
$red-light: #f04a7d;

$drop-shadow: drop-shadow(8px 8px 10px #d9d0e3);