<div class="tab container">
  <br>
  <h3 class="color-alpha">Ok, deixa eu me apresentar.</h3>

  <p><b>Prazer, eu sou o Toschi</b>. No caso, esse é meu sobrenome, mas as pessoas me chamam assim porque já existem muitas outras pessoas chamadas Gabriel. Sou cientista da computação por formação, desenvolvedor web por profissão, game designer por paixão, redator por padrão e amante de chocotones porque chocotone é o melhor doce desse mundão.</p>

  <p>Eu sempre gostei de escrever, desde criança. Devo dizer que aprendi a apreciar as aulas de Gramática simplesmente porque elas faziam sentido no que eu queria escrever. Mas eu também sempre gostei de falar e era o verdadeiro pivete que não calava a boca. Demorou um tempo pra entender que o que eu realmente gostava era de me comunicar e conversar com as outras pessoas.</p>

  <p>Quando eu comecei a escrever de verdade, eu comecei a falar sobre jogos! Eu gosto muito de jogar e, principalmente, eu descobri que gosto muito de fazê-los e de falar sobre isso. Depois, eu descobri que gosto de falar de ciência e de divulgá-la cada vez mais pras pessoas. E nos últimos tempos, <b>eu descobri que gosto de falar sobre coisas estranhas, específicas e, pra mim, fascinantes.</b></p>

  <p>Atualmente, eu faço textos sobre coisas que você não se importa por aqui pra ocupar minha cabeça, mas que eu espero que você goste mesmo assim. Eu também faço parte do <a class="color-alpha" href="https://www.deviante.com.br/podcasts/scicast/" target="_blank">Scicast</a> nos episódios sobre computação e faço jogos de tempos em tempos, que <a class="color-alpha" href="https://gabtoschi.itch.io/" target="_blank">você pode encontrar por aqui</a>. E se quiser falar, um e-mail ou uma mensagem no Twitter são sua pedida. No mais, puxa um banquinho e boas vindas.</p>

  {% include archive-link.html %}
</div>
