@use 'utilities/breakpoints' as breakpoint;
@use 'utilities/colors' as color;

@use 'components';
@use 'pages';

body {
  margin: 0;
  background-color: #fafafa;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: breakpoint.$sm) {
    max-width: 540px;
  }

  @media (min-width: breakpoint.$md) {
    max-width: 720px;
  }

  @media (min-width: breakpoint.$lg) {
    max-width: 990px;
  }
}