@use 'utilities/breakpoints' as breakpoint;
@use 'utilities/colors' as color;
@use 'utilities/fonts' as font;

@use 'components';
@use 'pages';

body {
  margin: 0;
  background-color: color.$background;
  color: color.$text;

  font-family: font.$text;

  h1, h2, h3 {
    font-family: font.$header;
  }
}

.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: breakpoint.$sm) {
    max-width: 520px;
  }

  @media (min-width: breakpoint.$md) {
    max-width: 720px;
  }

  @media (min-width: breakpoint.$lg) {
    max-width: 990px;
  }
}

.showcase {
  margin-bottom: 30px;

  img {
    width: 100%;
  }

  li {
    margin-bottom: 8px;
  }
}