@import './_variables.css';
@import './_html.css';

@import './components/_button.css';
@import './components/_footer.css';
@import './components/_games-list.css';
@import './components/_header.css';
@import './components/_icon-text.css';
@import './components/_pill.css';
@import './components/_youtube.css';

@import './pages/_about.css';
@import './pages/_archive.css';
@import './pages/_blog.css';
@import './pages/_contact.css';
@import './pages/_games.css';
@import './pages/_home.css';
@import './pages/_prototypes.css';

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-base);
  background: var(--yellow-bg0);
  color: var(--grey4);
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 24px 24px 56px;
  flex-grow: 1;

  @media (max-width: 650px) {
    padding: 16px 16px 40px;
  }
}

#base-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}