@use 'utilities/breakpoints' as breakpoint;
@use 'utilities/colors' as color;

.blog-list {
  .header {
    text-align: center;

    a {
      color: black;
    }

    h1 {
      margin-bottom: 0;
    }

    h3 {
      font-weight: 200;

      margin-top: 12px;
      margin-bottom: 0;
    }
  }

  .post-list {
    width: 100%;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: breakpoint.$lg) {
      flex-direction: column;
    }

    .card-wrapper {
      width: 475px;
      margin-top: 36px;

      @media (max-width: breakpoint.$lg) {
        width: 100%;
      }

      &.filtered {
        display: none;
      }
    }
  }

  .pagination {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    .hidden {
      display: none;
    }

    :not(:last-child) {
      margin-right: 20px;
    }

    span {
      font-weight: bold;
    }

    a {
      background-color: color.$purple2;
      color: white;
      border-radius: 30px;
      text-decoration: none;

      padding: 7px 16px;
    }
  }
}