@use 'utilities/breakpoints' as breakpoint;
@use 'utilities/colors' as color;
@use 'utilities/fonts' as font;

.home-page {
  .welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.with-newsletter {
      padding-bottom: 48px;
    }

    @media (max-width: breakpoint.$lg) {
      flex-direction: column;
    }

    .welcome-text {
      h1 {
        margin-top: 0;
        margin-bottom: 4px;
      }

      h2 {
        margin: 0;
        font-weight: 300;
      }

      @media (max-width: breakpoint.$lg) {
        margin-bottom: 24px;
        text-align: center;
      }
    }

    .social-icons {
      margin-top: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: color.$blue-dark;
      color: color.$background;

      padding: 20px;
      border-radius: 8px;;

      span {
        margin-top: 8px;
      }

      a {
        &:not(:last-of-type) {
          margin-right: 8px;
        }
      }

      svg {
        width: 30px;
        color: color.$background;
      }
    }
  }

  .home-buttons {
    margin-top: 48px;
    margin-bottom: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    a {
      background-color: transparent;
      border: 2px solid color.$purple-dark;
      border-radius: 30px;
      text-decoration: none;
      color: color.$purple-dark;
      filter: color.$drop-shadow;
      text-align: center;

      padding: 7px 16px;
      font-size: 24px;

      &:hover {
        background-color: color.$purple-dark;
        color: color.$background;
      }
    }
  }

  .latest-blog {
    .header {
      text-align: center;

      a {
        color: color.$text;
      }

      h1 {
        margin-bottom: 0;
      }

      h3 {
        font-weight: 300;

        margin-top: 12px;
        margin-bottom: 0;
      }
    }

    .post-list {
      width: 100%;
      padding-bottom: 50px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: breakpoint.$lg) {
        flex-direction: column;
      }

      .card-wrapper {
        width: 475px;
        margin-top: 36px;

        @media (max-width: breakpoint.$lg) {
          width: 100%;
        }

        &.filtered {
          display: none;
        }
      }
    }
  }

  .projects {
    .header {
      text-align: center;

      h1 {
        margin-bottom: 0;
      }

      h3 {
        font-weight: 300;

        margin-top: 12px;
        margin-bottom: 0;
      }
    }

    .filter {
      margin-top: 40px;

      display: flex;
      justify-content: space-around;

      @media (max-width: breakpoint.$lg) {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 20px;
      }

      .filter-button {
        padding: 15px;
        min-width: 120px;

        cursor: pointer;

        font-family: font.$text;
        background-color: color.$background;
        border: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        @media (max-width: breakpoint.$lg) {
          min-width: 0px;

          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }

        &.selected {
          background-color: color.$purple-gray;
          font-weight: 600;
          filter: drop-shadow(-2px -2px 8px #d9d0e3);
        }
      }
    }
  }

  .project-list {
    background-color: color.$purple-gray;
    width: 100%;

    padding-bottom: 50px;

    position: relative;
    z-index: 40;

    .list-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: breakpoint.$lg) {
        flex-direction: column;
      }

      .card-wrapper {
        width: 475px;
        margin-top: 36px;

        @media (max-width: breakpoint.$lg) {
          width: 100%;
        }

        &.filtered {
          display: none;
        }
      }
    }
  }

  .prototypes {
    .header {
      text-align: center;

      margin-bottom: 48px;

      h1 {
        margin-bottom: 12px;
      }

      h3 {
        font-weight: 300;

        margin-top: 4px;
        margin-bottom: 0;
      }

      a {
        color: color.$purple-dark;
      }
    }

    .section {
      color: color.$purple-dark;

      border-bottom: 2px solid color.$purple-dark;
      padding-bottom: 8px;
    }

    .prototype-list {
      margin-bottom: 72px;

      display: flex;
      flex-direction: column;
      row-gap: 60px;


      .prototype-item {
        display: flex;
        column-gap: 32px;
        row-gap: 24px;

        @media (max-width: breakpoint.$lg) {
          flex-direction: column;
        }

        .image {
          background-position: center;
          background-size: cover;

          min-width: 300px;

          border: 2px solid color.$purple-dark;
          border-radius: 30px;

          @media (max-width: breakpoint.$lg) {
            min-height: 250px;
          }
        }

        .content {
          .title {
            display: inline-flex;
            align-items: center;
            column-gap: 16px;

            margin-bottom: 12px;
          }

          h1 {
            margin: 0;
          }

          h3 {
            font-weight: 400;
            margin: 0;
          }

          p {
            font-size: 18px;
          }
        }

        .links {
          margin-top: 12px;

          display: flex;
          column-gap: 12px;

          a {
            background-color: transparent;
            border: 2px solid color.$purple-dark;
            border-radius: 30px;
            text-decoration: none;
            color: color.$purple-dark;
            filter: color.$drop-shadow;
            text-align: center;

            padding: 7px 16px;
            font-size: 18px;

            &:hover {
              background-color: color.$purple-dark;
              color: color.$background;
            }
          }
        }
      }
    }
  }
}