<div class="site-footer">
  {% if lang == 'en' %}
    <span>2024 • curious, creative, chaotic and completely unaware of what to write here</span>
  {% else %}
    <span>2024 • curioso, criativo, caótico e completamente sem saber o que escrever aqui</span>
  {% endif %}
</div>