<div class="newsletter">
  <div class="header">
    <h1>
      subscribe to my newsletter!
    </h1>
    <h3>
      new articles, reviews and projects <b>directly to you</b> </br> sent <b>every other friday</b>, no algorithms
    </h3>
  </div>

  <div class="newsletter-form">
    <iframe
      style="width:100%!important;border:0px!important;border-radius: 20px;"
      scrolling="no"
      src="https://buttondown.email/gabtoschi?as_embed=true"
    ></iframe>
  </div>
</div>