<div class="newsletter">
  <div class="header">
    <h1>
      subscribe to my newsletter!
    </h1>
    <h3>
      new articles, reviews and projects <b>directly to you</b> </br> sent <b>every other friday</b>, no algorithms
    </h3>
  </div>

  <iframe scrolling="no" src="https://buttondown.email/gabtoschi?as_embed=true"></iframe>
</div>