{% liquid
  assign msg = message

  if lang == "pt"
    assign msg = "O time de desenvolvimento me enviou uma cópia do jogo para que eu pudesse conhecê-lo e escrever esse texto. Obrigado pela confiança!"
  elsif lang == "en"
    assign msg = "The team behind this game sent me a press key so I could play it and write my review. Thanks for the trust!"
  endif
%}

<div class="thanks">
  {% assign iconName = icon | default: "icons/thanks" %}
  {% svg iconName %}
  <span>
    {{ msg }}
  </span>
</div>