{% liquid
  assign msg = message

  if lang == "pt"
    assign msg = "O time de desenvolvimento me enviou uma cópia do jogo para que eu pudesse conhecê-lo e escrever esse texto. Obrigado pela confiança!"
  elsif lang == "en"
    assign msg = "The team behind this game sent me a press key so I could play it and write my review. Thanks for the trust!"
  elsif lang == "playdate"
    assign msg = "This review was only possible by the access provided by Panic and the Playdate team to this game, available at the Catalog. Thanks for the trust!"
  elsif lang == "playdate-pt"
    assign msg = "Esta análise só foi possível pelo acesso concedido pela Panic e pelo time do Playdate a este jogo, disponível no Catalog. Obrigado pela confiança!"
  endif
%}

<div class="thanks">
  {% assign iconName = icon | default: "icons/thanks" %}
  {% svg iconName %}
  <span>
    {{ msg }}
  </span>
</div>