{% if lang == 'en' %}
  <span>want more?</span>
  <h2>
    <a href="/#projects">see my projects!</a>
  </h2>
{% else %}
  <span>quer mais?</span>
  <h2>
    <a href="/pt#projects">veja meus projetos!</a>
  </h2>
{% endif %}