---
layout: layouts/base

not-show-tags: ['project']
---

<div class="home-page">
  <div class="container">
    <div class="welcome">
      <div class="welcome-text">
        <h1>hi! i'm Gabriel Toschi</h1>
        <h2>welcome to my web place!</h2>

        <div class="social-icons">
          <div class="social-list">
            {% for social in socials %}
              <a target="_blank" href={{ social.link }}>{% svg social.icon %}</a>
            {% endfor %}
          </div>
          <span>those are the others, get in touch :)</span>
        </div>
      </div>

      {% render "components/image-card.liquid"
       , image: "https://placehold.co/600x250"
       , text: "More about me"
       , url: "about" %}
    </div>

    <div class="projects">
      <div class="header">
        <h1>my projects</h1>
        <h3>curiosity to learn, creativity to make, chaos to have fun</h3>
      </div>

      <div class="filter">
        {% for tag in project-tags %}
          <button class="filter-button" id="{{ tag.key }}">
            {{ tag.value }}
          </button>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="project-list">
    <div class="list-content container">
      {% for project in collections.project reversed %}
        <div class="card-wrapper {{ project.data.tags | join: " " }}">
          {% assign filteredTags = project.data.tags
           | remove_intersec: not-show-tags
           | map_key_value: project-tags %}

          {% render "components/full-card.liquid"
           , image: project.data.image
           , title: project.data.title
           , url: project.data.link
           , text: project.content
           , tags: filteredTags %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript" src="./scripts/project-filter.js"></script>