@import '../_variables.css';

.btn {
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  border-radius: 8px;
  font-weight: 700;
  font-family: var(--font-base);
  text-align: center;
  vertical-align: center;

  &.small {
    padding: 6px 10px;
    font-size: 14px;
  }

  &.medium {
    padding: 12px;
    font-size: 16px;
  }

  &.large {
    padding: 14px;
    font-size: 20px;
  }

  &.primary {
    color: var(--white);
    background-color: var(--purple2);

    &:hover {
      background-color: var(--purple4);
    }
  }

  &.secondary {
    color: var(--grey4);
    background-color: var(--yellow2);

    &:hover {
      background-color: var(--yellow1);
    }
  }
}