@import '../_variables.css';

.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;

  background-color: var(--purple3);
  color: var(--white);

  padding-top: 50px;
  padding-bottom: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (max-width: 740px) {
    flex-direction: column;
    gap: 24px;
  }

  .footer-date {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    margin-top: 32px;

    &.desktop {
      @media (max-width: 740px) {
        display: none;
      }
    }

    &.mobile {
      display: none;
      margin-top: 24px;
      font-size: 14px;

      @media (max-width: 740px) {
        display: block;
      }
    }
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 740px) {
      align-items: center;
    }

    img {
      @media (max-width: 740px) {
        width: 80%;
      }
    }

    h5 {
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      margin-top: 10px;

      @media (max-width: 740px) {
        font-size: 20px;
      }
    }
  }

  .footer-right {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 18px;
    column-gap: 40px;

    .footer-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      text-decoration: none;
      color: var(--white);

      img {
        width: 32px;
        height: 32px;
      }

      &:hover {
        color: var(--yellow2);
      }
    }
  }
}