@use 'utilities/colors' as color;

.site-footer {
  background-color: color.$purple-dark;
  width: 100%;

  padding-top: 12px;
  padding-bottom: 12px;

  color: color.$background;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}