@use 'utilities/colors' as color;

.site-header {
  background-color: color.$purple-gray;
  color: color.$purple-dark;

  padding: 14px 5%;

  margin-bottom: 30px;

  display: flex;
  justify-content: space-around;

  a, a:visited {
    color: color.$purple-dark;
  }
}