@use 'utilities/colors' as color;
@use 'utilities/breakpoints' as breakpoint;
@use 'utilities/fonts' as font;

.site-header {
  background-color: color.$purple-gray;
  color: color.$purple-dark;

  padding: 14px 5%;

  margin-bottom: 30px;

  .site-header-content {
    display: flex;
    justify-content: space-between;
  }

  .name {
    font-family: font.$header;
    font-size: 20px;
  }

  a, a:visited {
    color: color.$purple-dark;
  }

  .site-header-links {
    display: flex;
    column-gap: 12px;

    @media (max-width: breakpoint.$lg) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}